<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yureportsetsatlife.com">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsAct">

        </activity>
        <activity android:name=".CalenderAct">

        </activity>
        <activity android:name=".RecordPopupAct"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog">

        </activity>
        <activity android:name=".EndPopupAct"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog">

        </activity>

        <activity android:name=".AddSchedulePopupAct"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog">

        </activity>
        <activity android:name=".ChartAct">

        </activity>
        <activity android:name=".ManaSchePopupAct"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog">

        </activity>
        <activity android:name=".ManaRecordPopupAct"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog">

        </activity>
    </application>

</manifest>